<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Crypto Coins Dashboard</title>
        <!-- <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all"> -->
    </head>
    <body>
        <header>
            <h1>Up to date news about various crypto coins</h1>
        </header>
        <main>
            <select>Bla</select>
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
                <li>item4</li>
            </ul>
        </main>
    </body>
</html>