{% extends "base.html" %}
{% block content %}
<main>
    <form id="order-and-filter">
        Order by:
        <select name="order-by">
            <option disabled selected value> -- select an option -- </option>
            {% for order_by_option in order_by_options %}
                <option value="{{ order_by_option }}">{{ order_by_option }}</option>
            {% endfor %}
        </select>
        Filter date:
        <select name="filter-domain">
            <option value="">All</option>
            {% for domain in domains %}
                <option value="{{ domain }}">{{ domain }}</option>
            {% endfor %}
        </select>
        <button type="submit" form="order-and-filter">Apply</button>
    </form>
    <ul>
        {% for article in articles %}
            <li>
                <h2>Title: {{ article.title }}</h2>
                <h3>Published at: {{ article.published_at }}</h3>
                <h3>Author: {{  article.author }}</h3>
                <h3>Description: {{  article.description }}</h3>
                <a href="{{ article.url }}">{{  article.url }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}