{% extends "base.html" %}
{% block content %}
<main>
    <form id="order-options">
        <select name="order-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="alphabetical">Alphabetical</option>
        </select>
        <button type="submit" form="order-options">Apply</button>
    </form>
    <ul>
        {% for article in articles %}
            <li>
                <h2>Title: {{ article.title }}</h2>
                <h3>Published at: {{ article.published_at }}</h3>
                <h3>Author: {{  article.author }}</h3>
                <h3>Description: {{  article.description }}</h3>
                <a href="{{ article.url }}">{{  article.url }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}